# CONVEX
CONVEX_DEPLOYMENT=...
PUBLIC_CONVEX_URL=...
PUBLIC_CONVEX_SITE_URL=...
CONVEX_PRIVATE_BRIDGE_KEY=...

# WORKOS
WORKOS_CLIENT_ID=...
WORKOS_API_KEY=...
WORKOS_WEBHOOK_SECRET=...
WORKOS_ACTION_SECRET=...
PUBLIC_WORKOS_CLIENT_ID=...
PUBLIC_WORKOS_REDIRECT_URI=http://localhost:5173/app
